.score {
  &__name {
    display: table-cell;
    margin: 0 5px 0 0;
    max-width: 100px;
    min-width: 20px;
  }

  &__value {
    display: table-cell;
    font-weight: 700;
    text-align: right;
    width: 20px;
  }

  display: table;
  table-layout: fixed;
  width: 100%;
  margin: 5px 0;
}